

#header {
    text-align: center;
}

.buttonContainer {
    text-align: center;
    margin-bottom: 30px
}

#container {
    background: url("Images/mona_lisa.jpg");
    background-size: 600px, 600px;
    display: grid;
    width: 600px;
    height: 600px;
    grid-gap: 0;
    margin: auto;
    justify-content: stretch;
    border: 1px solid black;
}

.gridBox {
    border: 1px solid black;
}

.active {
    background-color: black;
}

.footer {
    text-align: center;
}